:root {
  --branding-color: hsl(213, 10%, 21%);
  --primary-color: #717d8c;
  --secondary-color: #85a3c5;
  --third-color: #cdcdcd;
  --accent-color: black;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background: var(--third-color);
}

h1,
h2,
h3 {
  margin: 0;
}

.hero {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  font-size: 50px;
}

h1 {
  font-size: 96px;
  color: var(--accent-color);
  box-shadow: var(--accent-color);
  opacity: 0.7;
  font-family: "Fredericka the Great", cursive;
}

h2 {
  font-size: 40px;
  color: var(--accent-color);
  opacity: 0.7;
  font-family: "Nanum Myeongjo", serif;
  font-weight: bolder;
  text-shadow: var(--box-shadow);
}

h3 {
  font-size: 27px;
  color: var(--accent-color);
  opacity: 0.7;
  font-family: "Nanum Myeongjo", serif;
  font-weight: bolder;
  text-shadow: var(--box-shadow);
}

h3 a {
  padding: 0;
}

h3 i {
  font-size: 40px;
  font-weight: 100px;
  text-shadow: var(--box-shadow);
  padding: none;
  color: var(--branding-color);
}

h3 i:hover {
  cursor: pointer;
  color: var(--third-color);
}

p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
  padding: 15px;
  font-family: "Zen Old Mincho", serif;
}

.contact-title {
  color: var(--secondary-color);
  font-size: 40px;
  text-align: bolder;
}

.content-container {
  padding: 80px 20px;
}

.description {
  font-family: "Zen Old Mincho", serif;
  font-weight: 600px;
  color: var(--accent-color);
}

.name {
  font-family: "Zen Old Mincho", serif;
  font-weight: 700px;
  color: var(--accent-color);
  font-size: 60px;
}

.arrow {
  background: var(--secondary-color);
}

.arrow i {
  color: var(--accent-color);
}

.projects-link {
  border-radius: 4px;
  padding: 20px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: white;
  margin: 15px;
  font-size: 20px;
}

.social-link {
  color: var(--accent-color);
  font-size: 17px;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  font-weight: bold;
  font-family: "Nanum Myeongjo", serif;
}

.social-link:hover {
  text-decoration: underline;
}

.skill i {
  color: var(--accent-color);
  font-size: 70px;
  text-align: center;
  margin: 20px auto;
  transition: all 4s ease-in-out 0.5;
}

.skill i:hover {
  display: block;
  padding-top: 20px;
  cursor: pointer;
}

.tool i {
  display: block;
  margin: 0;
  color: var(--accent-color);
  font-size: 70px;
  text-align: center;
  margin: 20px auto;
  transition: all 4s ease-in-out 0.5;
}

.tool i:hover {
  display: block;
  padding-top: 20px;
  cursor: pointer;
}

.name-skill {
  color: var(--accent-color);
  font-size: 20px;
  font-weight: bold;
  margin: 20px auto;
}

.name-tool {
  color: var(--accent-color);
  font-size: 17px;
  text-align: center;
  font-weight: bold;
}

.certificates {
  background: var(--primary-color);
}

.HTML {
  color: #dd4b25;
  transition: all 4s ease-in-out 0.5;
}

.HTML:hover {
  display: block;
  padding-top: 20px;
  cursor: pointer;
}

.css i {
  color: #264de4;
  transition: all 4s ease-in-out 0.5;
}

.css i:hover {
  display: block;
  padding-top: 20px;
  cursor: pointer;
}

.javascript {
  color: #f0db4f;
  transition: all 4s ease-in-out 0.5;
}

.javascript:hover {
  display: block;
  padding-top: 20px;
  cursor: pointer;
}

.react {
  color: #61dbfb;
  transition: all 4s ease-in-out 0.5;
}

.react:hover {
  display: block;
  padding-top: 20px;
  cursor: pointer;
}

.seo {
  color: #4181ee;
  transition: all 4s ease-in-out 0.5;
}

.seo:hover {
  display: block;
  padding-top: 20px;
  cursor: pointer;
}

.hosting {
  color: #4181ee;
  transition: all 4s ease-in-out 0.5;
}

.hosting:hover {
  display: block;
  padding-top: 20px;
  cursor: pointer;
}

.flexbox {
  color: #005cf2;
  transition: all 4s ease-in-out 0.5;
}

.flexbox:hover {
  display: block;
  padding-top: 20px;
  cursor: pointer;
}

.responsive {
  color: #5b5b5b;
  transition: all 4s ease-in-out 0.5;
}

.responsive:hover {
  display: block;
  padding-top: 20px;
  cursor: pointer;
}

.bootstrap {
  color: #8712f7;
  transition: all 4s ease-in-out 0.5;
}

.bootstrap:hover {
  display: block;
  padding-top: 20px;
  cursor: pointer;
}

.invision {
  color: #f73161;
  transition: all 4s ease-in-out 0.5;
}

.invision:hover {
  display: block;
  padding-top: 20px;
  cursor: pointer;
}

.api {
  color: #49667d;
  transition: all 4s ease-in-out 0.5;
}

.api:hover {
  display: block;
  padding-top: 20px;
  cursor: pointer;
}

.mozilla {
  color: #5b5b5b;
  transition: all 4s ease-in-out 0.5;
}

.mozilla:hover {
  display: block;
  padding-top: 20px;
  cursor: pointer;
}

.fontawesome {
  color: #2186df;
  transition: all 4s ease-in-out 0.5;
}

.fontawesome:hover {
  display: block;
  padding-top: 20px;
  cursor: pointer;
}

.npm {
  color: #c53635;
  transition: all 4s ease-in-out 0.5;
}

.npm:hover {
  display: block;
  padding-top: 20px;
  cursor: pointer;
}

.figma {
  color: #0ac97f;
  transition: all 4s ease-in-out 0.5;
}

.figma:hover {
  display: block;
  padding-top: 20px;
  cursor: pointer;
}

ul {
  list-style: none;
}

.communication {
  background: var(--primary-color);
  padding: 50px 0;
}

.communication li i {
  background-color: var(--branding-color);
  color: var(--third-color);
  font-size: 20px;
  padding: 10px 14px;
  border-radius: 50%;
  margin: 0 20px;
}

.communication li i:hover {
  color: var(--branding-color);
  cursor: pointer;
  background: var(--third-color);
}

i {
  display: block;
  margin: 0;
  font-size: 70px;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  text-shadow: var(--box-shadow);
}

.navbar {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #85a3c5;
  box-shadow: var(--box-shadow);
}

.navbar ul {
  display: flex;
  list-style: none;
  text-shadow: var(--box-shadow);
}

.navbar ul li {
  width: 120px;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--accent-color);
  font-family: "Zen Old Mincho", serif;
}

.active,
.navbar ul li:hover {
  background-color: var(--primary-color);
  border-radius: 3px;
  text-decoration: none;
  color: var(--third-color);
}

.active,
.navbar ul li a:hover {
  text-decoration: none;
  color: var(--third-color);
}

.navbar span {
  font-family: "Rochester", cursive;
  font-size: 30px;
}

.navbar span .logo {
  color: var(--accent-color);
  text-decoration: none;
  padding: 80px;
}

.double-arrow {
  text-align: center;
  font-size: 70px;
  font-weight: bolder;
  background: var(--branding-color);
}

.double-arrow i {
  color: var(--secondary-color);
}

footer {
  font-size: 15px;
  font-family: "Nanum Myeongjo", serif;
  background-color: var(--branding-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 20px;
  text-shadow: var(--box-shadow);
}

footer i {
  display: block;
  margin: 0;
  font-size: 15px;
  padding: 0;
}

.contact {
  background: var(--branding-color);
  display: block;
  margin: 0;
  padding: 50px;
}

img .self-image {
  text-align: right;
  font-size: 400px;
}

.instagram {
  color: var(--branding-color);
}

.github {
  color: var(--branding-color);
}

.linkedin {
  color: var(--branding-color);
}

p .content {
  font-size: 20px;
  margin: none;
}

.information {
  margin: none;
  padding: none;
  font-size: 15px;
  border: 1px solid var(--accent-color);
  background: var(--accent-color);
  color: var(--third-color);
  padding: 10px;
}

.secondary-title {
  text-shadow: var(--box-shadow);
  text-align: bolder;
  color: var(--third-color);
  opacity: 0.7;
  padding: 20px;
}

.contact-link {
  border-radius: 4px;
  padding: 20px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: white;
  margin: 15px;
  font-size: 20px;
}

.card-link {
  border-radius: 4px;
  padding: 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: white;
  margin: 15px;
  font-size: 15px;
}

.credit {
  font-size: 13px;
  text-shadow: var(--box-shadow);
  color: var(--accent-color);
  padding: 10px;
  font-family: "Nanum Myeongjo", serif;
}

@media (max-width: 800px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
    text-align: left;
  }
  p {
    text-align: center;
  }

  .tools i {
    display: none;
  }

  .skills i {
    display: none;
  }

  .name-skill {
    display: inline-block;
    color: var(--branding-color);
    text-shadow: var(--box-shadow);
    font-family: "Nanum Myeongjo", serif;
    border: 3px solid var(--branding-color);
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    font-size: 15px;
  }

  .name-tool {
    display: inline-block;
    color: var(--branding-color);
    text-shadow: var(--box-shadow);
    font-family: "Nanum Myeongjo", serif;
    border: 3px solid var(--branding-color);
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    font-size: 15px;
  }

  .about-section img .self-image {
    font-size: 500px;
  }

  .name {
    font-size: 40px;
    text-align: center;
    margin: none;
  }

  .description {
    font-size: 25px;
    text-align: center;
    margin: none;
  }

  .content-container {
    margin: none;
    padding: 20px;
  }

  .content {
    font-size: 15px;
    text-align: left;
    margin: 10px;
  }

  .contact-title {
    display: none;
  }

  .secondary-title {
    display: none;
  }

  .contact-link {
    display: block;
    margin: 0;
    text-align: center;
    padding: 20px 20px;
    font-size: 17px;
    text-shadow: var(--box-shadow);
    background: var(--secondary-color);
    margin: 20px;
  }

  .website-title {
    text-align: center;
  }

  .projects-link {
    display: block;
    margin: 0;
    text-align: center;
    padding: 20px 50px;
    font-size: 17px;
    text-shadow: var(--box-shadow);
    background: var(--secondary-color);
    margin: 30px;
  }
}
