:root {
  --brading-color: hsl(213, 10%, 21%);
  --primary-color: #717d8c;
  --secondary-color: #85a3c5;
  --third-color: #cdcdcd;
  --accent-color: black;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background: var(--third-color);
}

h1,
h2,
h3 {
  margin: 0;
}

.hero {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  font-size: 50px;
}

h1 {
  font-size: 96px;
  color: var(--accent-color);
  box-shadow: var(--accent-color);
  opacity: 0.7;
  font-family: "Fredericka the Great", cursive;
}

h2 {
  font-size: 40px;
  color: var(--accent-color);
  opacity: 0.7;
  font-family: "Nanum Myeongjo", serif;
}

h3 {
  font-size: 27px;
  color: var(--accent-color);
  opacity: 0.7;
  font-family: "Nanum Myeongjo", serif;
  font-weight: bold;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.arrow {
  background: var(--secondary-color);
  color: var(--accent-color);
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--brading-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--brading-color);
  border: 1px solid var(--third-color);
}

.homepage-link {
  color: var(--third-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.primary-link:hover {
  color: white;
}

.container-fluid a {
  font-family: "Rochester", cursive;
  font-weight: bolder;
  text-shadow: var(--box-shadow);
  font-size: 30px;
}

.skill i {
  display: block;
  margin: 0;
  color: var(--accent-color);
  font-size: 70px;
  text-align: center;
  margin: 20px auto;
}

.tool i {
  display: block;
  margin: 0;
  color: var(--accent-color);
  font-size: 70px;
  text-align: center;
  margin: 20px auto;
}

.name-skill {
  color: var(--accent-color);
  font-size: 20px;
  font-weight: bold;
  margin: 20px auto;
}

.name-tool {
  color: var(--accent-color);
  font-size: 17px;
  text-align: center;
  font-weight: bold;
}

img .avatar {
  display: block;
  margin: 0;
  text-align: right;
  font-size: 100px;
}

.certificates {
  background: var(--primary-color);
  margin-bottom: 15px;
}

.html i {
  color: #dd4b25;
}

.css i {
  color: #264de4;
}

.javascript {
  color: #f0db4f;
}

.react {
  color: #61dbfb;
}

.seo {
  color: #4181ee;
}

.hosting {
  color: #4181ee;
}

.flexbox {
  color: #005cf2;
}

.responsive {
  color: #5b5b5b;
}

.bootstrap {
  color: #8712f7;
}

.invision {
  color: #f73161;
}

.api {
  color: #49667d;
}

.mozilla {
  color: #5b5b5b;
}

.fontawesome {
  color: #2186df;
}

.npm {
  color: #c53635;
}

.figma {
  color: #0ac97f;
}

ul {
  list-style: none;
  font-size: 90px;
}

.communication {
  background: var(--primary-color);
  padding: 100px 0;
}

li {
  color: var(--brading-color);
}

li i:hover {
  color: var(--third-color);
  cursor: pointer;
  background: var(--primary-color);
}

i {
  display: block;
  margin: 0;
  font-size: 70px;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  text-shadow: var(--box-shadow);
}

.double-arrow {
  display: block;
  margin: 0;
  text-align: center;
  font-size: 70px;
  font-weight: bolder;
  background: var(--brading-color);
  color: var(--secondary-color);
}

.navigation {
  background: var(--brading-color);
  padding: 20px;
}

.navigation li {
  font-size: 20px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: bold;
  color: var(--secondary-color);
  padding: 10px;
  text-shadow: var(--box-shadow);
}

footer {
  font-size: 15px;
  font-family: "Nanum Myeongjo", serif;
  background-color: var(--brading-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 20px;
  text-shadow: var(--box-shadow);
}

footer i {
  display: block;
  margin: 0;
  font-size: 15px;
  padding: 0;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
    text-align: left;
  }
  p {
    text-align: center;
  }

  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}
