* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

:root {
  --branding-color: hsl(213, 10%, 21%);
  --primary-color: #717d8c;
  --secondary-color: #7197c2;
  --third-color: #cdcdcd;
  --accent-color: black;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background: var(--third-color);
}

.navbar {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: var(--third-color);
}

.navbar ul {
  display: flex;
  text-shadow: var(--box-shadow);
  padding-right: 9rem;
  padding-left:0.5rem;
}

.navbar ul li {
  width: 100%;
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--branding-color);
  font-family: "DM Serif Display", serif;
}

.active,
.navbar ul li:hover {
  background-color: var(--primary-color);
  border-radius: 0.15rem;
  text-decoration: none;
  color: var(--third-color);
}

.active,
.navbar ul li a:hover {
  text-decoration: none;
  color: var(--third-color);
}

.navbar span {
  font-family: "DM Serif Display", serif;
  font-size: 1.5rem;
}

.navbar span .logo {
  color: var(--branding-color);
  text-decoration: none;
  padding:1.65rem;
}

.hero span {
  font-size: 2.75rem;
}

.hero small {
  font-size: 1.5rem;
}

.hero {
  background: var(--third-color);
}

h1,
h2,
h3 {
  margin: 0;
}

header h1 {
  text-align: left;
}

h1 {
  font-size: 4.8rem;
  color: var(--accent-color);
  opacity: 0.7;
  font-family: "DM Serif Display", serif;
}

h2 {
  font-size: 3.5rem;
  color: var(--secondary-color);
  opacity: 0.7;
  font-family: "DM Serif Display",
  serif;
  text-shadow: var(--box-shadow);
  padding-top:1rem;
}

h3 {
  font-size: 2.5rem;
  color: var(--accent-color);
  opacity: 0.7;
  text-shadow: var(--box-shadow);
  font-family: "DM Serif Display",
  serif;
}

h4 {
  font-size: 2.25rem;
  font-family: "DM Serif Display",
  serif;
}

h5 {
  font-size:1.5rem;
  font-family: 'Zen Old Mincho',
  serif;
  color: var(--secondary-color);
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 0.75rem;
  font-family: 'Zen Old Mincho',
  serif;
  margin:0;
  color: var(--accent-color);
  font-weight: bolder;
}

ul {
  list-style: none;
}

i {
  display: block;
  margin: 0;
  font-size: 3.5rem;
  text-align: center;
  margin: 1rem auto;
  padding: 0.5rem;
  text-shadow: var(--box-shadow);
}

.arrow {
  background: var(--third-color);
}

.arrow i {
  color: var(--accent-color);
}

.content-container {
  margin:0.5rem 0.5rem;
  padding: 4rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  background-color: var(--branding-color);
  font-family: 'Zen Old Mincho',
    serif;
    text-align: left;
}

.content-container img {
  border-radius: 0.25rem;
  box-shadow: var(--box-shadow);
}

.content-container p {
  color: var(--third-color);
  font-size: 1rem;
}

 .content {
  color: var(--accent-color);
}

.self-image {
  margin: 0.75rem 0.75rem;
}

.projects-link {
  border-radius: 0.2rem;
  padding: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  border: 2px solid var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
  margin: 0.75rem;
  font-size: 1rem;
  font-family: "DM Serif Display", serif;
}

.projects-link:hover {
  background-color: var(--secondary-color);
  color: var(--branding-color);
  font-weight: bolder;
}

.certificates {
  background: var(--primary-color);
  margin: 0.5rem 0.5rem;
  border-radius: 1rem;
}

.skill i {
  color: var(--accent-color);
  font-size: 3.5rem;
  text-align: center;
  margin: 1rem auto;
  transition: transform 1s;
}

.skill i:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.tool i {
  color: var(--accent-color);
  font-size: 3.5rem;
  text-align: center;
  margin: 1rem auto;
  transition: transform 1s;
}

.tool i:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.name-skill {
  color: var(--accent-color);
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem auto;
  text-align: center;
  font-family: "DM Serif Display", serif;
}

.name-tool {
  color: var(--accent-color);
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  font-family: "DM Serif Display", serif;
}

.HTML i {
  color: #dd4b25;
  font-size: 3.5rem;
  transition: transform 1s;
}

.HTML i:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.css i {
  color: #264de4;
  font-size: 3.5rem;
  transition: transform 1s;
}

.css i:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.javascript i {
  color: #f0db4f;
  font-size: 3.5rem;
  transition: transform 1s;
}

.javascript i:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.react i {
  color: #61dbfb;
  font-size: 3.5rem;
  transition: transform 1s;
}

.react i:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.seo i {
  color: #4181ee;
  font-size: 3.5rem;
  transition: transform 1s;
}

.seo i:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.hosting i {
  color: #4181ee;
  font-size: 3.5rem;
  transition: transform 1s;
}

.hosting i:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.flexbox i {
  color: #005cf2;
  font-size: 3.5rem;
  transition: transform 1s;
}

.flexbox i:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.responsive i {
  color: #5b5b5b;
  font-size: 3.5rem;
  transition: transform 1s;
}

.responsive i:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.bootstrap i {
  color: #8712f7;
  font-size: 3.5rem;;
  transition: transform 1s;
}

.bootstrap i:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.invision i {
  color: #f73161;
  font-size: 3.5rem;
  transition: transform 1s;
}

.invision i:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.api i {
  color: #49667d;
  font-size: 3.5rem;
  transition: transform 1s;
}

.api i:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.mozilla i {
  color: #5b5b5b;
  font-size: 3.5rem;
  transition: transform 1s;
}

.mozilla i:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.fontawesome i {
  color: #2186df;
  font-size: 3.5rem;
  transition: transform 1s;
}

.fontawesome i:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.npm i {
  color: #c53635;
  font-size: 3.5rem;
  transition: transform 1s;
}

.npm i:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.figma i {
  color: #0ac97f;
  font-size: 3.5rem;
  transition: transform 1s;
}

.figma i:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.double-arrow {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bolder;
  background: var(--branding-color);
  margin: 10px 10px;
  border-radius: 20px;
}

.double-arrow i {
  color: var(--secondary-color);
}

.web-link {
  position: relative;
  text-decoration: none;
  background-color: var(--secondary-color);
  color: var(--accent-color);
  font-family: "DM Serif Display", serif;
  font-size: 1rem;
  border-radius: 0.25rem;
  margin: 0.2rem;
  font-weight: 650;
  box-shadow: var(--box-shadow);
}

.web-link:hover {
  cursor: pointer;
  color: var(--accent-color);
}


.communication {
  background-color: var(--third-color);
  padding:0.5rem;
}

.communication li a img {
  font-size: 1rem;
  padding:0.5rem 0.75rem;
  margin: 0 1rem;
  border-radius: 0.75rem;
}

.communication li a img:hover {
  cursor: pointer;
  transform: rotate(-15deg);
  background-color: white;
}

footer header {
  background-color: var(--third-color);
}

.all-copy-rights {
  font-size: 0.75rem;
  background-color: var(--branding-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 1rem;
  text-shadow: var(--box-shadow);
  font-family: "DM Serif Display", serif;
  font-size: 0.75rem;
  padding: 0.2rem;
}

.all-copy-rights i {
  font-size: 0.75rem;
  padding: 0.1rem;
}

#contact {
  text-align: center;
}

.social-media-information {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  color: black;
  padding: 0.5rem;
  font-family: "DM Serif Display", serif;
  font-weight: bold;
  text-align: left;
}

.social-link {
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: rgb(82, 74, 74) !important;
  font-family: "DM Serif Display", serif;
}

.social-link:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
h2 {
  text-align: left;
  padding: 0;
  font-size: 2.2rem;
}
}

.navbar ul {
  padding-right:0;
}

.navbar ul li {
  font-size:1rem;
}

@media (max-width: 800px) {
  .hero small {
    padding: 0;
  }

  h1 {
    font-size: 2.4rem;
    line-height: 1.5;
  }

  h2 {
    text-align: center;
    font-size: 2.2rem;
  }

  h5 {
     font-size:1.2rem;
     text-align: center;
  }

  p {
    text-align: center;
  }

  .tools i {
    display: none;
  }

  .skills i {
    display: none;
  }

  .name-skill {
    display: inline-block;
    color: var(--branding-color);
    text-shadow: var(--box-shadow);
    border: 3px solid var(--branding-color);
    padding: 0.5rem;
    margin: 0.5rem;
    font-weight: bold;
    font-size: 0.75rem;
  }

  .name-tool {
    display: inline-block;
    color: var(--branding-color);
    text-shadow: var(--box-shadow);
    border: 3px solid var(--branding-color);
    padding: 0.5rem;
    margin: 0.5rem;
    font-weight: bold;
    font-size: 0.75rem;
  }

  .navbar ul li {
    font-size: 0.6rem;
    justify-content: space-between;
    margin: 0;
  }

  .hobbies {
    text-align: center;
  }

  .content-box {
    text-align: center;
  }

  .name-skill {
    display:none;
  }
  
  .name-tool {
    display:none;
  }

  #front-end-development-skills{
    display:none;
  }

  #front-end-development-tools{
    display:none;
  }
}

@media (max-width: 1000px) {

  .container img {
    display: none;
  }

  .container .content-box {
    text-align: center;
  }

  .content-container p {
    font-size: 0.75rem;
  }
}


